h1{
    color:blue;
    font-size: x-large;
    border-left:5px solid blue;
}

/*
    線條粗細
    線條樣式
    solid 實心線條
    dashed 虛線
    dotted 圓點虛線
    border-left 左邊一條
    border-righ 右邊
    border-top 上面
    border-bottom 下面

    顏色
*/

img{
    border: 2px dashed black;
}

/*
選擇器{
    屬性:設定值;
    屬性:設定值;
}
*/

p{
    color:gray;
    font-family: verdana;
    font-size:16px;
    line-height:1.5;
    text-align:left;
    text-indent: 32px;
   letter-spacing:5px;
}

/*
text-decoratiion:line-through;
文字加刪除線
text-decoratiion:underline;
文字加底線
letter-spacing:2px;
*/

/*
標籤選擇器{
    屬性:設定值;
    屬性:設定值;
}
*/

a{
    color: silver;
}

/*
擬態選擇器{
    屬性:設定值;
    屬性:設定值;
}
*/

a:hover{
    color: pink;
    font-size: large;
}

h1:hover{
    color: red;
}

a:active{
    color: yellow;
}

.style1{
    color:red;
}

.pink{
    color:pink;
}