
/*
body{
    margin: 0;
}
覆蓋瀏覽器原本樣式
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css reset語法 上網查的*/

/*以下再開始寫自己的CSS語法*/

.content{
    width: 1150px;
    box-sizing:border-box;
}

.content_1{
    display:flex;
    flex-direction:column;
    background-color: #e7eeea;
    height: 805px;
    width: 1143px;
}

.content_1 img{
    margin:238px 500px 20px 500px;
    width: 160px;
    height: 155px;
}

.content_1 h1{
    width: 367px;
    height: 38px;
    border: 1px solid #37523d;
    margin-left: 388px;
}

.content_2{
    display:flex;
    width: 1147px;
    height: 79px;
    box-sizing:border-box;
}

.content_2 img{
    width: 220px;
    height: 44px;
    margin: 20px 511px 20px 52px;
    box-sizing:border-box;
}

.footer_a{
    margin-right:52px ;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    
    
}

.footer_a a{
    color: black;
    text-decoration: none;
    display:block;
    height: 30px;
    width: 65px;
    text-align: center;
    margin-left: 15px;
    font-weight: 700;
}