
/*
body{
    margin: 0;
}
覆蓋瀏覽器原本樣式
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css reset語法 上網查的*/

/*以下再開始寫自己的CSS語法*/


.c_three{
   width: 1170;
    height: 570px;
    display: flex;
    justify-content:center;
    background-color:#37523d ;
    box-sizing: border-box;
}

.item{
    margin-left: 20px;
    border: 2px solid #37523d;
}

.item1{
    width: 377px;
    height: 270px;
    background-color:#e7eeea ;
    color: #37523d;
    box-sizing: border-box;
    
    
}

.item1 h1{
    text-align: center;
    font-size: 78px;
    padding: 100px 60px 93px 60px;
    font-weight: 500;
    box-sizing: border-box;
  
    
    
}

.item2{
    width: 377px;
    height: 270px;
    background-color: white;
    box-sizing: border-box;
}

.item2 h2{
    color: #37523d;
    font-size: 26px;
    padding-top: 39px;
    padding-left: 34px;
    padding-right: 65px;
    font-weight: 700;
    box-sizing: border-box;
}
.item2 p{
    padding-top: 36px;
    padding-left: 33px;
    padding-right: 36px;
    color: black;
    font-size: 23px;
    box-sizing: border-box;
    font-weight: bold;
}
