
/*
body{
    margin: 0;
}
覆蓋瀏覽器原本樣式
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css reset語法 上網查的*/

/*以下再開始寫自己的CSS語法*/

.content{
    width: 880px;
}

.c_two1{
    display:flex;
    justify-content: space-between;
    background-color: #e7eeea;
    width: 880px;
    height: 62px;
    box-sizing: border-box;
}

.c_two1 img{
    margin-left: 30px;
}

.c_two1 a{
    margin-right:12px;
    margin-top: 10px;
    display:block;
    font-size: 25px;
    text-decoration: none;
    color: #37523d;;
    width: 70px;
    height:61px
}

.c_two2{
    display:flex;
    width: 876px;
    height:406px;
    box-sizing: border-box;
}
.c_h2p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c_two2 img{
    margin:30px 50px;
    width: 175px;
    height: 350px;
    
}

.c_h2ph2p h2{
    width: 310px;
    height: 33px;
    border: 1px solid #37523d;
    margin-top: 50px;
    margin-bottom: 28px;
}

.c_h2ph2p p{
    width: 552px;
    height: 109px;
    border: 1px solid #37523d;
    
}

.aa{
    margin-bottom: 30px;
}

.aa a{
    font-size: 24px;
    color: #37523d;
}